body {
  margin: 0;
}

header {
  height: 200px;
  background: silver;
  /* position: relative; */

  /* フレックスボックスを使用する記述 */
  display: flex;

  /* 主軸方向で中央揃え （左右中央寄せ）*/
  justify-content: center;

  /* 交差軸方向に中央揃え （上下中央寄せ）*/
  align-items: center;
}

div {
  width: 50px;
  height: 100px;
  background: skyblue;
  /* position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 50px); */
}