body {
    margin: 0;
  }
  header {
    background: pink;
  }
  footer {
    background: silver;
  }




  .container {
    display: flex;
  }

  main {
    background: skyblue;
    flex: 1;
  }

  nav {
    background: tomato;
    width: 100px;
    order: -1;
  }

  aside {
    background: orange;
    width: 100px;
  }
